@model IEnumerable<MVC5Course.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "AddNewProduct")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @{
                    var ajaxOption = new AjaxOptions() { UpdateTargetId = "details" };
                }
                @*@Html.ActionLink("Edit_Product", "Edit_Product", new { id = item.ProductId })*@ |
                @Ajax.ActionLink("Edit_Product", "Edit_Product", new { id = item.ProductId }, ajaxOption) |
                @Ajax.ActionLink("Details", "Details", new { id = item.ProductId }, ajaxOption) |
                @*@Html.ActionLink("Details", "Details", new { id = item.ProductId }) |*@
                @Html.ActionLink("Delete_Product", "Delete_Product", new { id = item.ProductId })
            </td>
        </tr>
    }

</table>
@using X.PagedList
@using X.PagedList.Mvc

@Html.PagedListPager(Model as IPagedList, (p) => Url.Action("Index", new { pageNo = p }))

<div id="details"></div>
@section Scripts {

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

}
